@import "normalize.css";

html,
body {
  height: 100%;
}

a {
  outline: none;
  text-decoration: none;

  &:visited {
    color: #fcfbfb;
  }
}

body {
  background-color: rgba(0, 0, 0, .85);

  font-family: Khula;
  color: #fffefe;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;

  & .content {
    flex: 1 0 auto;
  }
  & .footer {
    flex: 0 0 auto;
  }
}
